.home-image1 {
  height: 563px;
  width: 900px;
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 125px;
  transition: all 0.3s ease-in-out;
  justify-content: center;
}

.home-image1:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.4s ease-in-out;
}

/*mobile*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .home-image1 {
    height: 175px;
    width: 275px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/*iPad*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .home-image1 {
    height: 375px;
    width: 575px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/*Desktop*/

@media only screen and (min-device-width: 1080px) and (max-device-width: 1920px) {
  .home-image1 {
    height: 375px;
    width: 575px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
