.home-image1 {
  height: 563px;
  width: 900px;
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 125px;
  transition: all 0.3s ease-in-out;
  justify-content: center;
}

.home-image1:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.4s ease-in-out;
}

/*smaller desktop screen*/
@media (max-width: 1082px) {
  .home-image1 {
    height: 400px;
    width: 600px;
    margin-left: 185px;
  }
  .social-image {
    width: 175px;
    height: 43px;
    margin-left: 390px;
    margin-bottom: 50px;
    margin-top: 20px;
    cursor: pointer;
  }
}
/*ipad*/
@media (max-width: 768px) {
  .home-image1 {
    height: 250px;
    width: 350px;
    margin-left: 160px;
  }
  .social-image {
    width: 175px;
    height: 43px;
    margin-left: 255px;
    margin-top: 20px;
    cursor: pointer;
  }
}
/*mobile*/
@media (max-width: 375px) {
  .home-image1 {
    height: 175px;
    width: 275px;
    margin-left: 35px;
  }
  .social-image {
    width: 175px;
    height: 43px;
    margin-left: 85px;
    margin-bottom: 50px;
    margin-top: 20px;
    cursor: pointer;
  }
}
