* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
}

.island-section,
.island-title {
  text-align: center;
}
.island-number {
  color: #d44502;
  margin: 0px;
}

.island-img-1 {
  width: 500px;
  height: 375px;
  margin-bottom: 10px;
  border: solid #d44502;
}

.island-img-2 {
  width: 500px;
  height: 375px;
  margin-bottom: 10px;
  border: solid #7136d3;
}

img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.island-text {
  margin-bottom: 50px;
}

p {
  margin-top: 5px;
  margin-bottom: 10px;
}

a,
.dice-link {
  text-align: center;
  color: #d44502;
  text-decoration: none;
}
.dice-link-image {
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

/*mobile*/
@media (max-width: 375px) {
  .island-img-1,
  .island-img-2 {
    height: 175px;
    width: 275px;
  }
}
