* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif, "Segoe UI";
}
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif, "Segoe UI";
  background-color: white;
}

code {
  font-family: "Courier New", monospace;
}

.App {
  background-color: white;
  min-height: 10vh;
  margin: auto;
}

nav {
  display: flex;
  background-color: #fd651d;
  padding: 5px 10px;
  justify-content: space-between;
}

.nav-menu {
  list-style: none;
}

.nav-menu li {
  display: inline-block;
  list-style-type: none;
}

.nav-menu-link,
.nav-menu-link-b {
  display: inline-block;
  margin: 30px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.nav-menu-link:hover,
.nav-menu-link-b:hover {
  color: #7136d3;
}

.nav-menu-link-b.active {
  background-color: #7136d3;
}

.WTG-logo {
  width: 80px;
  height: 80px;
}
.main-content {
  width: 90%;
  margin: auto;
  padding-bottom: 50px;
}

.main-content h2 {
  color: black;
  margin-bottom: 20px;
  text-align: center;
}
