* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif, "Arial";
}
body {
  margin: 0;
  background-color: white;
}

nav {
  display: flex;
  background-color: #d44502;
  padding: 5px 10px;
  justify-content: space-between;
  height: 150px;
  margin: auto;
}

.nav-menu {
  list-style: none;
}

.nav-menu li {
  display: inline-block;
  list-style-type: none;
}

.nav-menu-link,
.nav-menu-link-b {
  display: inline-block;
  margin: 30px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.nav-menu-link:hover,
.nav-menu-link-b:hover {
  color: #7136d3;
}

.nav-menu-link-b.active {
  color: #7136d3;
  font-size: 24px;
  font-weight: bold;
}

.WTG-logo {
  width: 80px;
  height: 80px;
}
.main-content {
  width: 90%;
  margin: auto;
  padding-bottom: 50px;
}

.main-content h2 {
  color: black;
  margin-bottom: 20px;
  text-align: center;
}
.footer-text {
  text-align: center;
}
.social-image {
  margin-left: 485px;
  margin-bottom: 50px;
  margin-top: 20px;
  cursor: pointer;
}
